.wrapper {
    display: flex;
    flex-direction: row;
    background-color: #d7dbdb;
    padding: 3px;
}
.titleWrapper {
    display: flex;
    margin: 0 10px;
    flex: 1;
}
.newTitle {
    display: flex;
    align-items: center;
}
.buttonWrapper {
    margin-left: 4px;
}
.rightPanelPart {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.newPageWrapper {
    margin-left: 5px;
    display: flex;
}