.wrapper {
    display: flex;
    flex-direction: row;
    /*background-color: #d0dbdb;*/
    background: linear-gradient(#dbdbdb, #c9c9c9);
    /*padding: 3px;*/
    align-items: center;
    height: 3.4em;
}
.titleWrapper {
    display: flex;
    justify-content: center;
    /*margin: 0 10px;*/
    flex: 1;
}
.titleContainer {
    width: 50%;
}
.newTitle {
    display: flex;
    align-items: center;
}
.buttonWrapper {
    margin-left: 4px;
}
.rightPanelPart {
    display: flex;
    justify-content: flex-end;
    /*flex: 1;*/
}
.hidden {
    visibility: hidden;
}
.newPageWrapper {
    margin-left: 5px;
    display: flex;
}