.wrapper {
    margin-left: 10px;
}
.titleContainer {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.title {
    flex: 1;
}
.thisPageSelect {
    color: #120faf;
    font-weight: bold;
}
.title:hover {
    color: #1f1fc0;
    background-color: rgba(0, 0, 0, 0.1);
}
.prefixContainer {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}
.collapseIcon {
    transform: rotate(90deg);
}
.dragAllow {
    color: #016901;
}
.onDragOver {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dotted blue;
}