.wrapper {
    display: flex;
    /*flex: 1;*/
    position: relative;
}
.wrapperWithTitle {
    margin-top: 14px;
}
.input {
    flex: 1;
    padding: 0 5px;
    border: none;
    background-color: #00000005;
    border-radius: 4px;
    min-height: 2em;
}
.input:focus {
    color: #0a1c74;
    outline: none;
    background-color: #00000009;
}
.expressive {
    background-color: #bbbbbb;
}
.expressive:focus {
    background-color: #a4a4a4;
}
.buttonWrapper {
    margin-left: 3px;
}
.title {
    position: absolute;
    color: #5d5b5b;
    left: 5px;
    font-size: 0.8em;
    pointer-events: none;
    padding: 2px;
    border-radius: 4px;
    text-transform: capitalize;
}
.titleNormal {
    top: 8px;
    background-color: transparent !important;
    transition: top 0.3s, color 0.5s;
}
.titleRaise {
    top: -12px;
    color: #343434;
    transition: top 0.3s, color 0.5s;
}