.wrapper {

}
.icon {
    width: 50px;
    transform: rotate(90deg);
    animation: anim1 500ms forwards;
}

@keyframes anim1 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(-90deg);
    }

}